<div style = "background-color: indigo">
    <h1 style = "color: yellow; font-family:courier"> 
        alright! flying with rails.
    </h1>
</div>

<%= link_to 'About', about_path %> |
<%= link_to 'Admissions', admissions_path%>