<h1 style = "text-align: center;">Listing all Admissions</h1>
    <div class = 'center'>
        <%= will_paginate %>
    </div>
<%= render 'admissions', obj: @admissions %>
    <div class = 'center'>
        <%= will_paginate %>
    </div>